<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/Static/CSS/index.css">
    <link rel="stylesheet" href="/Static/CSS/slider.css">
    <title>Slider Example</title>
</head>
<body>
    <div id="sidebar"><!--SIDEBAR--></div>
    <div id="content">
        <div id="slider-container"></div>
    </div>
    <footer><!--FOOTER--></footer>
    <script src="/Static/JS/slider.js"></script>
</body>
</html>
