<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Подключаем CSS файлы -->
    <link rel="stylesheet" href="/Static/CSS/slider.css">
   
    <title>Slider Example</title>
</head>
<body>
    <div class="slider-container">
        <div class="slide active">
            <img src="/Static/Images/image1.jpeg" alt="Slide 1">
        </div>
        <div class="slide">
            <img src="/Static/Images/image2.jpeg" alt="Slide 2">
        </div>
        <div class="slide">
            <img src="/Static/Images/image3.jpeg" alt="Slide 3">
        </div>
        <button class="prev" onclick="prevSlide()">&#10094;</button>
        <button class="next" onclick="nextSlide()">&#10095;</button>
    </div>

    <!-- Подключаем JavaScript -->
    <script src="/Static/JS/slider.js"></script>
</body>
</html>
